<form id="slick-login">
    <img style=" width:220px;" src="img/logo.png" />
    <label for="username">username</label><input type="text" name="username" class="placeholder" placeholder="username">
    <label for="password">password</label><input type="password" name="password" class="placeholder" placeholder="password">
    <label for="email">Email</label><input type="text" name="email" class="placeholder" placeholder="email">
    <input type="submit" value="Регистрирай се">
    <a href="index.html#/login" id="register">Вход</a>
</form>
